.mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

body {
    font-family: 'Verdana',sans-serif;
    color: #666;
}

.subtitle {
    color: #f07c17;
    font: bold 1.7em Verdana, sans-serif;

    padding-bottom: 0.8em;
}

#mugimg{
    padding: 23px 0 10px;
    margin:-9px 0 25px ;
}

.maincontent {
    margin: 2em 0 0 2.75em;}


.mainfeature .subtitle{
    padding: 10px 3px 0;
}
.maintitle {
    text-align: center;
    font-size: 3em;

}

.text {
    font-size: 1.15em;
    line-height: 2em;
}

.mainfeature {
    border: solid 1px #cccccc;
    margin-top:5px;
    padding: 0px 1.7em 1.7em 1.7em;
}

.mainfeature ul {
    margin: 19px 0 0 0.5em;

    font-size: 1.2em;
}
.mainfeature li:nth-child(n+2) {
    margin-top: 0.6em;
}

.rightside {
    padding: 0 3em 0em 0.6em;

}

.rightside p {
    padding-top:0px;
}

.leftside{
    padding-right:25px;
}
